---

---

<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>


    <h1>My Astro Site</h1>
    <h1>Blog</h1>
    <h2>... and my Astro Site</h2>
    <p>This is where I'll create a BLOG</p>
    <p>WIP</p>
</body>
